:root {
  --gold-color: #F3D592;
  --black-color: #0b0b0b;
  --white-color: #f5f5f5;
  --darkgreen-color: #08433F;
}


.site-section {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .timeline-container {
    background-blend-mode: overlay;
    padding: 30px 10px;
  }
  
  .section-head-text {
    color: var(--gold-color);
    text-align: center;
    font-size: 2em; 
    margin-bottom: 20px;
  }
  
  .vertical-timeline-element-content {
    background: transparent;
    color: var(--gold-color);
    border: solid 1px #232631;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 15px;
    transition: transform 0.3s ease;
  }
  
  .vertical-timeline-element-icon {
    box-shadow: 0 0 0 4px rgba(48, 207, 208, 0.2);
    transition: box-shadow 0.3s ease;
  }
  
  .vertical-timeline-element-date {
    color: var(--gold-color);
    font-size: 0.8em;
    font-weight: bold;
  }
  
  .text-gold {
    color: var(--gold-color);
  }
  .text-white{
    color: var(--white-color);
  }
  
  .text-secondary {
    color: var(--gold-color);
  }
  
  @media screen and (max-width: 768px) {
    .vertical-timeline-element-content {
      font-size: 0.9em;
    }
  
    .vertical-timeline-element-date {
      font-size: 0.7em;
    }
  
    .vertical-timeline-element-icon {
      transform: scale(0.8);
    }
  
    .text-gold,
    .text-white,
    .text-secondary {
      font-size: 0.9em;
    }
  }
  .main-timeline-4 {
    position: relative;
  }
  .main-timeline-4::after {
    content: "";
    position: absolute;
    width: 3px;
    background-color: var(--black-color);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }

  .timeline-4 {
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  .timeline-4::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -11px;
    background-color: var(--black-color);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  .left-4 {
    padding: 0px 40px 20px 0px;
    left: 0;
  }
  .right-4 {
    padding: 0px 0px 20px 40px;
    left: 50%;
  }
  .left-4::before {
    content: " ";
    position: absolute;
    top: 18px;
    z-index: 1;
    right: 30px;
    border: medium solid var(--black-color);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent var(--black-color);
  }
  .right-4::before {
    content: " ";
    position: absolute;
    top: 18px;
    z-index: 1;
    left: 30px;
    border: medium solid var(--black-color);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--black-color) transparent transparent;
  }
  .right-4::after {
    left: -14px;
  }
  @media screen and (max-width: 600px) {
    .main-timeline-4::after {
      left: 31px;
    }
    .timeline-4 {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
    .timeline-4::before {
      left: 60px;
      border: medium solid var(--black-color);
      border-width: 10px 10px 10px 0;
      border-color: transparent var(--black-color) transparent transparent;
    }
    .left-4::after,
    .right-4::after {
      left: 18px;
    }
  
    .left-4::before {
      right: auto;
    }

    .right-4 {
      left: 0%;
    }
  }
  
  .gradient-custom {
    --bs-card-border-width: none !important;
    background: var(--black-color);
    background: -webkit-linear-gradient(to right, var(--black-color), var(--black-color));
    background: linear-gradient(to right, var(--black-color), var(--black-color));
    border: 1px solid #000000;
  }
  
  .gradient-custom-4 {
    --bs-card-border-width: none !important;
    background: var(--black-color);
    background: -webkit-linear-gradient(to left, var(--black-color), var(--black-color));
    background: linear-gradient(to left, var(--black-color), var(--black-color));
    border: 1px solid #000000;
  }
  
  .timeLineContainor {
    width: 70%;
  }
  
  .timelineHead {
    display: flex;
    justify-content: right;
    width: 96%;
  }
  
  .timeLineComponentContainor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .timeLineContainorOuter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @media only screen and (max-width: 480px) {
    .divFaqAndImage {
      flex-direction: column;
    }
    .timeLineComponentContainor {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
    }
  
    .timeLineContainor {
      width: 100%;
    }
    .timeLineContainor {
      width: 80%;
    }
    #timeline {
      width: 100%;
      padding-top: 50px;
    }
    #timeline-4 {
      width: 100%;
    }
    .timelineHead{
      display: flex;
      justify-content: center;
    }
    .shape{
      width: 83%;
    }
  }
  
  * {
    box-sizing: border-box;
  }